body,
html, body > div:first-child,
div#__next,
div#__next > div
{
    height: 100%;
}



.overflow {
    height: 50%;
    aspect-ratio: 3 / 2; /* Example aspect ratio (3:2) */
    overflow: hidden; /* Clip overflow if needed */
}

.overflow .card-img-top{

    transform: scale(1);
    transition: all 0.2s ease-in-out;

}

.overflow .card-img-top:hover{

    transform: scale(1.8);

}

.overflow img {
    object-fit: cover; /* Fills the container, maintaining aspect ratio */
}


#nprogress .bar {
    background: #ff5367 !important;
}

#nprogress .spinner-icon{
    border-top: #ffbb00;
    border-left-color: #ffbb00;
}